
.footer{
    display: flex;
    align-items: center;
   min-height: 100px;
   background: black; 
    margin-top: 10px;
   
    
}


.footer a{
    width: 20%;
    position: relative;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    
}
.footer h3{
    position: relative;
    text-transform: capitalize;
    opacity: 0;
    transition: .5s ease-in;
    
    
}
.footer svg{
    
   fill: white;
    outline-color: rgba(18, 167, 212, .5);
    width:60px;
    height: 60px;
    margin: 10px;
}



.footer a:hover{
    background: rgba(183, 225, 205, .6);
    border-radius: 4px;
}
.footer a:hover h3{
    opacity: 1;
    color: black;
    text-decoration: black;
}  

.footer a:hover svg{

    opacity: .6;

}
.lic{
    color: white;
    background-color: black;
    text-align: center;
}
@media(max-width: 700px){
    .footer{
        display: grid;
    }
    .footer a{
        width: 100%;
    }
    .footer a h3{
        opacity: 1;
        color: white;
    }
}